<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="be.uclouvain.lsinf1225.v.bartender" >

    <application
        android:name=".util.MyApp$App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name=".gui.StartupActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.LoginActivity"
            android:label="@string/title_activity_login"
            android:noHistory="true"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".gui.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".gui.DescriptionActivity"
            android:label="@string/title_activity_description" >
        </activity>
        <activity
            android:name=".gui.SettingsFragment"
            android:label="@string/title_activity_settings_fragment" >
        </activity>
        <activity android:name=".gui.TableTestActivity" >
        </activity>
    </application>

</manifest>
